<aside class="fixed top-0 left-0 h-screen w-64 bg-teal-800 text-white shadow-lg flex flex-col">
  <!-- Logo -->
  <div class="text-2xl font-bold py-6 px-6 border-b border-teal-700">
    TaskTrack
  </div>

  <!-- Navigation Links -->
  <nav class="mt-4 flex-1 space-y-4 px-4">
    <a
      routerLink="/dashboard"
      class="flex items-center gap-3 px-4 py-2 mt-4 rounded hover:bg-teal-700 transition-colors font-semibold text-lg"
    >
      <span>Dashboard</span>
    </a>
    <a
      routerLink="/dashboard/tasks"
      routerLinkActive="bg-teal-600"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-teal-700 transition-colors font-semibold text-lg"
    >
      <span>Tasks</span>
    </a>

    <a
      routerLink="/dashboard/add-tasks"
      routerLinkActive="bg-teal-600"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-teal-700 transition-colors font-semibold text-lg"
    >
      <span>Add Tasks</span>
    </a>

    <a
      routerLink="/dashboard/attendance"
      routerLinkActive="bg-teal-600"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-teal-700 transition-colors font-semibold text-lg"
    >
      <span>Attendance</span>
    </a>
    <a
      routerLink="/dashboard/team-members"
      routerLinkActive="bg-teal-600"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-teal-700 transition-colors font-semibold text-lg"
    >
      <span>Team Members</span>
    </a>
    <a
      routerLink="/dashboard/profile"
      routerLinkActive="bg-teal-600"
      class="flex items-center gap-3 px-4 py-2 rounded hover:bg-teal-700 transition-colors font-semibold text-lg"
    >
      <span>Profile</span>
    </a>
  </nav>
</aside>
